{% extends 'base.html.twig' %}

{% block content %}
{{ form_start(formFab) }}
     
    <button type="submit" class="btn btn-primary">Ajouter</button>
        
{{ form_end(formFab) }}
      
{% endblock  %}

