{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center" style="margin-top:160px;">
       <a href="{{path('security_addFab')}}"> <button type="button" class="btn btn-success  zoom" style="width:50vh; margin-right:85px;" >Fabricants</button></a>
       <a href="{{path('security_addDist')}}"> <button type="button" class="btn btn-success  zoom"  style="width:50vh;margin-left:85px;" >Distributeurs</button></a>

    </div>
    <style>

    @keyframes zoom {
        0% {
            transform: scale(1,1);
        }
        50% {
            transform: scale(1.2,1.2);
        }
        100% {
            transform: scale(1,1);
        }
    }
    .zoom
    {
        animation: zoom 0.7s infinite;
        border-radius: 2em;
        height: 8vh;
    }
    </style>
{% endblock  %}