{% extends 'base.html.twig' %}

{% block content %}
{{ form_start(formUser) }}
        
    <button type="submit" class="btn btn-primary">S'inscrire</button>
        
    {{ form_end(formUser) }}
      
{% endblock  %}

