{% extends 'base.html.twig' %}

{% block content %}

<h2>Résultat(s) de votre recherche :</h2>

{% for allproduit in allproduits %}
<p>{{ allproduit }}</p>
{% endfor %}

{# {% for alltype in alltypes %}
<p>{{ alltype }}</p>
{% endfor %} #}


{% endblock %}

